In [68]:
import pandas as pd
import re

In [98]:
# shapefile = pd.read_csv('data/distances_t25.csv') 
shapefile = pd.read_csv('data/distances_t25.csv', 
dtype={'Variante': int,'succession': int,'distance': float,'numero_lig': int}) 
shapefile['stop_id'] = shapefile['stop_id'].astype('str')
shapefile['mode'] = shapefile['mode'].astype('str')
shapefile['terminus'] = shapefile['terminus'].astype('str')
shapefile['stopscsv_stop_name'] = shapefile['stopscsv_stop_name'].astype('str')
shapefile['stopscsv_parent_station'] = shapefile['stopscsv_parent_station'].fillna(-1).astype('int')

In [99]:
shapefile.drop(columns=['Code_Ligne', 'uid', 'stopscsv_stop_code', "stopscsv_stop_name", 'coord_x', 'coord_y', 'descr_nl', 'alpha_fr', 'alpha_nl',
 'stopscsv_stop_desc', 'stopscsv_stop_desc', 'stopscsv_stop_desc', 'stopscsv_zone_id', 'stopscsv_stop_url', 'stopscsv_location_type'], inplace=True)

In [100]:
shapefile.dtypes

Variante                     int32
succession                   int32
stop_id                     object
descr_fr                    object
mode                        object
numero_lig                   int32
terminus                    object
distance                   float64
stopscsv_stop_lat          float64
stopscsv_stop_lon          float64
stopscsv_parent_station      int32
dtype: object

In [101]:
shapefile.rename(columns={"Variante": "variante", "numero_lig": "line_id", "descr_fr": "stop_name",
 "stopscsv_stop_lat": "x_coord", "stopscsv_stop_lon": "y_coord", "stopscsv_parent_station": "parent_station"}, inplace=True)

In [102]:
shapefile['stop_id'] = shapefile['stop_id'].map(lambda x: int(re.sub('[^0-9]', '', x)))

In [103]:
shapefile[(shapefile['line_id'] == 25) & (shapefile['variante'] == 1)].sort_values(by=['succession'])

,variante,succession,stop_id,stop_name,mode,line_id,terminus,distance,x_coord,y_coord,parent_station
0,1,1,5451,BOONDAEL GARE,T,25,ROGIER,0.0,50.801438,4.393009,-1
1,1,2,5459,BRESIL,T,25,ROGIER,246.0,50.802859,4.390385,-1
2,1,3,5460,MARIE-JOSE,T,25,ROGIER,717.0,50.806653,4.387677,-1
3,1,4,5461,SOLBOSCH,T,25,ROGIER,1204.0,50.810834,4.385835,-1
4,1,5,5462,ULB,T,25,ROGIER,1540.0,50.813657,4.384332,-1
5,1,6,5468,JEANNE,T,25,ROGIER,1752.0,50.815500,4.383566,-1
6,1,7,3480,BUYL,T,25,ROGIER,2276.0,50.819024,4.380329,-1
7,1,8,5264,ROFFIAEN,T,25,ROGIER,2511.0,50.819997,4.383243,-1
8,1,9,5261,ETTERBEEK GARE,T,25,ROGIER,3020.0,50.822385,4.389373,-1
9,1,10,5265,VUB,T,25,ROGIER,3439.0,50.824739,4.394029,-1
10,1,11,5267,ARSENAL,T,25,ROGIER,3772.0,50.826578,4.397745,-1
11,1,12,5352,PETILLON,T,25,ROGIER,4259.0,50.829546,4.402804,-1
12,1,13,906,BOILEAU,T,25,ROGIER,4759.0,50.833663,4.405561,70
13,1,14,806,MONTGOMERY,T,25,ROGIER,5211.0,50.837555,4.407424,37
14,1,15,816,GEORGES HENRI,T,25,ROGIER,5948.0,50.843896,4.405406,69
15,1,16,826,DIAMANT,T,25,ROGIER,6600.0,50.849394,4.402198,68
16,1,17,2241,MEISER,T,25,ROGIER,7462.0,50.855501,4.395892,-1
17,1,18,6258,PATRIE,T,25,ROGIER,7835.0,50.856734,4.391036,-1
18,1,19,3308,BIENFAITEURS,T,25,ROGIER,8367.0,50.858308,4.384134,-1
19,1,20,3309,COTEAUX,T,25,ROGIER,8839.0,50.859423,4.377857,-1
20,1,21,6419,ROBIANO,T,25,ROGIER,9370.0,50.860979,4.370727,-1
21,1,22,6260,LEFRANCQ,T,25,ROGIER,9589.0,50.861626,4.367787,-1
22,1,23,2726,LIEDTS,T,25,ROGIER,10000.0,50.864970,4.365599,-1
23,1,24,5714,THOMAS,T,25,ROGIER,10283.0,50.865348,4.362872,-1
24,1,25,521,GARE DU NORD,T,25,ROGIER,10903.0,50.860134,4.359946,61
25,1,26,539,ROGIER,T,25,ROGIER,11367.0,50.856097,4.358569,41

In [104]:
shapefile

,variante,succession,stop_id,stop_name,mode,line_id,terminus,distance,x_coord,y_coord,parent_station
0,1,1,5451,BOONDAEL GARE,T,25,ROGIER,0.0,50.801438,4.393009,-1
1,1,2,5459,BRESIL,T,25,ROGIER,246.0,50.802859,4.390385,-1
2,1,3,5460,MARIE-JOSE,T,25,ROGIER,717.0,50.806653,4.387677,-1
3,1,4,5461,SOLBOSCH,T,25,ROGIER,1204.0,50.810834,4.385835,-1
4,1,5,5462,ULB,T,25,ROGIER,1540.0,50.813657,4.384332,-1
5,1,6,5468,JEANNE,T,25,ROGIER,1752.0,50.815500,4.383566,-1
6,1,7,3480,BUYL,T,25,ROGIER,2276.0,50.819024,4.380329,-1
7,1,8,5264,ROFFIAEN,T,25,ROGIER,2511.0,50.819997,4.383243,-1
8,1,9,5261,ETTERBEEK GARE,T,25,ROGIER,3020.0,50.822385,4.389373,-1
9,1,10,5265,VUB,T,25,ROGIER,3439.0,50.824739,4.394029,-1
10,1,11,5267,ARSENAL,T,25,ROGIER,3772.0,50.826578,4.397745,-1
11,1,12,5352,PETILLON,T,25,ROGIER,4259.0,50.829546,4.402804,-1
12,1,13,906,BOILEAU,T,25,ROGIER,4759.0,50.833663,4.405561,70
13,1,14,806,MONTGOMERY,T,25,ROGIER,5211.0,50.837555,4.407424,37
14,1,15,816,GEORGES HENRI,T,25,ROGIER,5948.0,50.843896,4.405406,69
15,1,16,826,DIAMANT,T,25,ROGIER,6600.0,50.849394,4.402198,68
16,1,17,2241,MEISER,T,25,ROGIER,7462.0,50.855501,4.395892,-1
17,1,18,6258,PATRIE,T,25,ROGIER,7835.0,50.856734,4.391036,-1
18,1,19,3308,BIENFAITEURS,T,25,ROGIER,8367.0,50.858308,4.384134,-1
19,1,20,3309,COTEAUX,T,25,ROGIER,8839.0,50.859423,4.377857,-1
20,1,21,6419,ROBIANO,T,25,ROGIER,9370.0,50.860979,4.370727,-1
21,1,22,6260,LEFRANCQ,T,25,ROGIER,9589.0,50.861626,4.367787,-1
22,1,23,2726,LIEDTS,T,25,ROGIER,10000.0,50.864970,4.365599,-1
23,1,24,5714,THOMAS,T,25,ROGIER,10283.0,50.865348,4.362872,-1
24,1,25,521,GARE DU NORD,T,25,ROGIER,10903.0,50.860134,4.359946,61
25,1,26,539,ROGIER,T,25,ROGIER,11367.0,50.856097,4.358569,41
26,2,1,539,ROGIER,T,25,BOONDAEL GARE,11367.0,50.856097,4.358569,41
27,2,2,536,GARE DU NORD,T,25,BOONDAEL GARE,10830.0,50.860763,4.360273,61
28,2,3,5762,THOMAS,T,25,BOONDAEL GARE,10121.0,50.865689,4.364534,-1
29,2,4,2720,LIEDTS,T,25,BOONDAEL GARE,9936.0,50.864422,4.365912,-1
30,2,5,6201,LEFRANCQ,T,25,BOONDAEL GARE,9539.0,50.861404,4.368416,-1
31,2,6,6202,ROBIANO,T,25,BOONDAEL GARE,9323.0,50.860790,4.371323,-1
32,2,7,6203,COTEAUX,T,25,BOONDAEL GARE,8884.0,50.859495,4.377218,-1
33,2,8,3360,BIENFAITEURS,T,25,BOONDAEL GARE,8295.0,50.857679,4.384461,-1
34,2,9,6204,PATRIE,T,25,BOONDAEL GARE,7803.0,50.856230,4.391249,-1
35,2,10,2242,MEISER,T,25,BOONDAEL GARE,7377.0,50.855222,4.397014,-1
36,2,11,2246,MEISER,T,25,BOONDAEL GARE,7205.0,50.854421,4.398959,-1
37,2,12,821,DIAMANT,T,25,BOONDAEL GARE,6546.0,50.848931,4.402428,68
38,2,13,811,GEORGES HENRI,T,25,BOONDAEL GARE,5897.0,50.843453,4.405598,69
39,2,14,801,MONTGOMERY,T,25,BOONDAEL GARE,5160.0,50.837123,4.407182,37
40,2,15,901,BOILEAU,T,25,BOONDAEL GARE,4676.0,50.832955,4.405187,70
41,2,16,5312,PETILLON,T,25,BOONDAEL GARE,4216.0,50.829295,4.402321,-1
42,2,17,5311,ARSENAL,T,25,BOONDAEL GARE,3729.0,50.826411,4.397181,-1
43,2,18,5266,VUB,T,25,BOONDAEL GARE,3396.0,50.824533,4.393504,-1
44,2,19,5205,ETTERBEEK GARE,T,25,BOONDAEL GARE,2975.0,50.822187,4.388819,-1
45,2,20,5200,ROFFIAEN,T,25,BOONDAEL GARE,2394.0,50.819680,4.381652,-1
46,2,21,2397,BUYL,T,25,BOONDAEL GARE,2050.0,50.817442,4.380672,-1
47,2,22,5407,ULB,T,25,BOONDAEL GARE,1587.0,50.814061,4.384119,-1
48,2,23,5413,SOLBOSCH,T,25,BOONDAEL GARE,1167.0,50.810501,4.385849,-1
49,2,24,5414,MARIE-JOSE,T,25,BOONDAEL GARE,687.0,50.806384,4.387635,-1
50,2,25,5415,BRESIL,T,25,BOONDAEL GARE,217.0,50.802634,4.390584,-1
51,2,26,5416,BOONDAEL GARE,T,25,BOONDAEL GARE,0.0,50.801169,4.393449,-1

In [24]:
headways[(headways['route_id'] == 46) & (headways['direction_id'] == 1)]

,route_id,service_id,direction_id,trip_headsign,stop_id,start_next_day,interval_start,end_next_day,interval_end,headway
1094929,46,237593601,1,MACHTENS,1348,0,05:47:00,0,06:14:00,00:27:00
1094930,46,237593601,1,MACHTENS,1348,0,06:14:00,0,06:39:00,00:25:00
1094931,46,237593601,1,MACHTENS,1348,0,06:39:00,0,07:04:00,00:25:00
1094932,46,237593601,1,MACHTENS,1348,0,07:04:00,0,07:29:00,00:25:00
1094933,46,237593601,1,MACHTENS,1348,0,07:29:00,0,07:49:00,00:20:00
...,...,...,...,...,...,...,...,...,...,...
1103570,46,237605001,1,MACHTENS,6706,0,23:16:25,0,23:36:25,00:20:00
1103571,46,237605001,1,MACHTENS,6706,0,23:36:25,0,23:56:25,00:20:00
1103572,46,237605001,1,MACHTENS,6706,0,23:56:25,1,00:16:25,00:20:00
1103573,46,237605001,1,MACHTENS,6706,1,00:16:25,1,00:22:25,00:06:00
1103574,46,237605001,1,QUATRE VENTS,6706,1,00:22:25,1,00:42:25,00:20:00